<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>CRUD</title>
</head>
<body>
    
    <header id="header">
        <nav>
            <div class="container">
                <div class="text-center">
                    <a href="/" class="nav-brand text-dark">User management systems</a>
                </div>
            </div>
        </nav>
    </header>

    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex-justify-between">
                <div class="filter">
                    <a href="/"><i class="fas fa-angle-double-left"></i>All Users</a>
                </div>
            </div>
            <div class="form-title text-center">
                <h2 class="text-dark">New User</h2>
                <span class="text-light">Create a new account below</span>
            </div>

            <form method="POST" id="update_user">
                <div class="new_user">
                    <div class="form_group">
                        <label for="name" class="text-light">Name</label>
                        <input type="hidden" name="id" value="">
                        <input type="text" name="name" value="" placeholder="enter name">
                    </div>
                    <div class="form_group">
                        <label for="gender" class="text-light">Gender</label>
                        <div class="radio inline">
                            <input type="radio" name="gender" value="Male">
                            <label for="gender" class="text-light">Male</label>
                        </div>
                        <div class="radio inline">
                            <input type="radio" name="gender" value="Female">
                            <label for="gender" class="text-light">Female</label>
                        </div>
                    </div>
                    <div class="form_group">
                        <label for="Email" class="text-light">Email</label>
                        <input type="text" name="email" value="" placeholder="person@yahoo.com">
                    </div>
                    <div class="form_group">
                        <label for="age" class="text-light">age</label>
                        <input type="text" name="age" value="" placeholder="25">
                    </div>
                    <div class="form_group">
                        <label for="occupation" class="text-light">College</label>
                        <input type="text" name="College" value="" placeholder="Duke University">
                    </div>
                    <div class="form_group">
                        <label for="occupation" class="text-light">Occupation</label>
                        <input type="text" name="occupation" value="" placeholder="Software Engineer">
                    </div>
                    
                    <div class="form-group">
                        <button type="submit" class="btn text-dark update">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </main>

</body>
</html>