@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto+Slab:wght@300&family=Roboto:wght@300;400&display=swap');

:root{
    --dark: darkblue;
    --light: lightblue;
    --border: lightgrey;
    --border-btn: white;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1024px;
    margin: auto;
}

.nav-brand{
    font-size: 1.5em;
    font-weight: bold;
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
}

.justify-between{
    justify-content: space-between;
}

.text-center{
    text-align: center;
}

.border-shadow{
    border: 1px solid var(--border-btn);
    box-shadow: 1px 3px 10px lightgrey;
}

.text-dark{
    color: var(--dark);
}

.inline{
    display: inline-block;
}

.text-light{
    color: var(--light);
}

.text-gradient{
    background: linear-gradient(to right, blue, blue,blue,blue);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#header nav{
    background-color: teal;
    padding: 1em 0;
    width: 100%;
}

#site-main{
    margin-top: 6em;
    font-family: 'Roboto', sans-serif;
}

#site-main .container .box-nav > a{
    font-size: 1em;
    padding: .5em 1em;
}

#site-main .container form{
    margin: 2em 0;
}

table{
    border-spacing: 0px;
    width: 100%;
}

.table td, .table th{
    padding: .75em;
    vertical-align: top;
    text-align: center;
    border-top: 1px solid var(--border);
}

.table td > a.btn{
    padding: .3em 1em;
    font-size: 1.1em;
    margin: 0 .2em;
}

.table tr:hover{
    background-color: lightblue;
}

.table tr:hover td > a{
    box-shadow: none;
}

.table .thead-dark th{
    color: lightgreen;
    background-color: var(--dark);
    border-color: grey;
}

@media only screen and (max-width: 1024px){
    table,thead, tbody, th,td,tr{
        display: block;
    }

    thead tr{
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr{border: 1px solid var(--border);}

    td{
        border: none;
        position: relative;
    }
}

.form-title{
    margin-top: 2em;
}

.form-title > h2 {
    padding: .5em 0;
}

.new_user{
    max-width: 786px;
    margin: auto;
}

#update_user .form-group,
#add_user .form-group{
    margin: .4em 0;
}

#update_user .form_group input[type="text"]{
    width: 100%;
    padding: .6em 1em;
    margin: .5em 0;
    border: 1px solid var(--border);
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    border-radius: .2em;
}

#update_user .form-group .btn,
#add_user .form-group .btn{
    width: 30%;
    padding: .6em .5em;
    background-color: teal;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    cursor: pointer;
    border-radius: .3em;
    margin: .5em 0;
    font-weight: 500;
}

#update_user .form_group .radio,
#add_user .form_group .radio {
    margin: 1em 2em;
    font-size: 1em;
}

